header {
    width: 100%;
    padding: 28px 8%;
}

.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar__logo {
    font-size: 29px;
    font-weight: 500;
    color: #e9a209;
    text-transform: uppercase;
}

.navbar__list {
    display: flex;
    list-style: none;
    gap: 48px;
}

.navbar__item a {
    text-decoration: none;
    color: #1d1d1dad;
    font-weight: 600;
}

.navbar__item--active a {
    color: #1d1d1d;
    border-bottom: 3px solid #ffe100;
} 

.navbar__btn-mobile {
    display: none;
}

.navbar__menu-mobile {
    display: none;
}

@media screen and (max-width: 1170px) {
    .navbar__list, .navbar .btn-default{
        display: none;
    }

    .navbar__btn-mobile {
        display: block;
        border: none;
        background-color: transparent;
        font-size: 1.5em;
        cursor: pointer;
    }

    .navbar__menu-mobile.active {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navbar__list-mobile {
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin: 12px;
    }

    .navbar__list-mobile .navbar__item {
        list-style: none;
        text-align: center;
    }
}