header {
    width: 100%;
    padding: 28px 8%;
}

.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-icon {
    font-size: 24px;
    color: #e9a209;
    white-space: nowrap;
}

.navbar-list {
    list-style: none;
    display: flex;
    gap: 48px;
}

.navbar-item a {
    text-decoration: none;
    color: #1d1d1dad;
    font-weight: 600;
}

.navbar-item.active {
    color: #e9a209;
    border-bottom: 3px solid #ffe100;
} 

.mobile-btn {
    display: none;
}

.mobile-menu {
    display: none;
}

@media screen and (max-width: 1170px) {
    .navbar-list, .navbar .btn-default{
        display: none;
    }

    .mobile-btn {
        display: block;
        border: none;
        background-color: transparent;
        font-size: 1.5em;
        cursor: pointer;
    }

    .mobile-menu.active {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .mobile-navbar-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin: 12px;
    }

    .mobile-navbar-list .navbar-item {
        list-style: none;
        text-align: center;
    }
}