.hero {
    display: flex;
    min-height: calc(100vh - 50px);
    position: relative;
    overflow: hidden;
}

.hero__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 28px;
    margin-top: 5%;
}

.hero__content a {
    text-decoration: none;
    color: #1d1d1d;
}

.hero__title {
    font-size: 4rem;
    color: #1d1d1d;
}

.hero__title span {
    color: #e9a209;
}

.hero__description {
    font-size: 1.2rem;
}

.hero__actions{
    display: flex;
    gap: 24px;
}

.hero__btn-phone {
    display: flex;
    gap: 8px;
    align-items: center;
    background-color: #ffffff;
    padding: 8px 14px;
    font-weight: 500px;
    box-shadow: 0 0 12px 4px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
}

.hero__btn-phone span {
    box-shadow: none;
}

.hero__banner {
    flex: 1.2;
    display: flex;
    align-items: start;
    justify-content: center;
    min-width: 0;
}

.hero__banner img {
    position: absolute;
    left: 50%;
    right: 0;
    margin: 2% auto; 
    width: 44%;
    max-width: 850px;
    max-height: calc(100vh - 99px - 8%); /* altura do hero menos o margin-top menos espaço embaixo */
    object-fit: contain;
    z-index: 2;
}

.hero__shape--banner {
    position: absolute;
    top: 0;
    left: 50%;
    right: 0;
    height: 100%;
   
    background-color: #ffe8b4;
    border-radius: 30% 30% 0 20%;
    z-index: 1;
}

/* comentario */