.hero {
    display: flex;
    justify-content: space-between;
    gap: 110px;
    position: relative;
}

.hero__content {
    display: flex;
    flex-direction: column;
    gap: 28px;
    margin-top: 5%;
}

.hero__content a {
    text-decoration: none;
    color: #1d1d1d;
}

.hero__title {
    font-size: 4rem;
    color: #1d1d1d;
}

.hero__title span {
    color: #e9a209;
}

.hero__description {
    font-size: 1.2rem;
}

.hero__actions{
    display: flex;
    gap: 24px;
}

.hero__btn-phone {
    display: flex;
    gap: 8px;
    align-items: center;
    background-color: #ffffff;
    padding: 8px 14px;
    font-weight: 500px;
    box-shadow: 0 0 12px 4px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
}

.hero__btn-phone span {
    box-shadow: none;
}

.hero__banner img {
    max-width: 900px;
    height: auto;
    width: 100%;
    margin: 5%
}

.hero__banner::before {
    content: '';
    position: absolute;
    background-color: #ffe8b4;
    border-radius: 30% 30% 0 20%;
    right: 0;
    top: 0;
    width: 50%;
    height: 100%;
    z-index: -1;
}

@media screen and (min-width: 1921px){
    .hero__content {
        margin-top: 15%;
    }
}

@media screen and (max-width: 1024px) {
    .hero__banner,
    .hero__banner img,
    .hero__shape--banner {
        display: none;
    }

    .hero__content {
        margin-top: 0;
        text-align: center;
        align-items: center;
    }

    .hero {
        padding-top: 0;
        flex-direction: column;
    }

}

@media screen and (max-width: 450px){
    
    .hero {
        padding: 0 20px;
    }    
}